@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.background-image {
    height: 100%;
    width: 100%;
    background: url(images/background.jpg) no-repeat center center/cover;
    position: absolute;
    top: -20px;
    left: -20px;
    width: calc(100vw + 40px);
    height: calc(100vh + 40px);
    z-index: -1;
    filter: blur(10px);
}

.form-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px 20px;
}

.title {
    margin-bottom: 10px;
}

.instruction {
    text-align: center;
    margin-bottom: 15px;
}

.label {
    margin: 10px 0 5px;
}

.input-area {
    font-size: 1rem;
    padding: 7px 3px;
}

.submit-button {
    margin: 15px 0;
    padding: 7px 0;
    border: none;
    border-radius: 5px;
    font-family: inherit;
    font-size: 1rem;
    background-color: #2b4f60;
    color: #fff;
    cursor: pointer;
}

.submit-button:hover {
    background-color: rgba(43, 79, 96, 0.8);
}